asgiref
async-generator
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
Django
exceptiongroup
h11
idna
outcome
pycparser
PySocks
requests
undetected-chromedriver
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
tzdata
urllib3
wsproto
selenium
selenium-stealth  